@import url(cards.css);

:root {
	--white: #f8f8f8;
	--black: #282929;
	--gray: #3b3b3b;
	--primary: #ff6200;
	--secondary: #ffc800;
	--tertiary: #0187ca;
}

/* General */

html {
	font-size: 62.5%;
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	font-size: 16px;
	font-family: "Roboto", sans-serif;
	background-color: var(--black);
}

h1, h2, h4, h5 {
	margin: 0;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 7rem;
}

h4 {
	font-size: 2rem;
}

h5 {
	font-size: 1.5rem;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

/* Header */

.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	box-shadow: 0.1rem 0.3rem 0.1rem var(--gray);
	z-index: 1;
	background-color: var(--primary);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem;
	padding-left: 4rem;
	padding-right: 4rem;
}

.headerLogo {
	width: 5rem;
	height: 5rem;
}

.nav, .navLink {
	padding: 0.5rem;
	border-radius: 1rem;
}

.nav {
	background-color: var(--white);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	gap: 0.5rem;
}

.navLink {
	font-size: 2rem;
	font-weight: 500;
	color: var(--gray);
	transition: color 0.4s ease;
}

.navLink:hover {
	color: var(--secondary);
}

.navLinkActive, .navLinkActive:hover {
	color: var(--white);
}

.navLinkActive {
	background-color: var(--secondary);
}

/* Banner */

.banner {
	margin-top: 6rem;
	background-image: url(../img/banner.jpg);
	background-repeat: no-repeat;
	height: 40rem;
	background-size: cover;
	text-align: center;
	position: relative;
	margin-bottom: 5rem;
}

.bannerContent {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.bannerTitle, .bannerMain {
	color: var(--secondary);
	margin: 1rem;
}

/* main */

.main {
	width: 95%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 4rem;
	margin-bottom: 2.5rem;
}


/* Footer */

.footer {
	background-color: var(--gray);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2rem;
}

.footerCount, .footerCredits {
	color: var(--white);
	
}

.footerCount {
	text-align: center;
	font-size: 1.5rem;
	font-weight: 700;
	padding: 1rem;
	width: 25rem;
	border-bottom: var(--white) solid 0.2rem;
}

.footerCredits span {
	font-weight: 500;
	text-decoration: underline var(--primary) 0.1rem;
}
